[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
faker = "*"
mimesis = "*"
datasynthesizer = "*"
pydbgen = "*"
snowflake.connector-python = "*"
decouple = "*"
pyarrow = "==6.0.0"
pandas = "*"


[requires]
python_version = "3.9"
